header {
  padding: 20px;
}
.main__container {
  margin: 5% 20%;
  background-color: rgb(212, 192, 167);
  min-width: 500px;
  min-height: 500px;
}

.grid__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.container {
  border: 1px black solid;
  max-width: 200px;
  max-height: 200px;
  overflow: hidden;
  margin: 10px;
}
img {
  display: block;
  max-width: 100px;
  max-height: 100px;
  margin: 0 auto;
}
